# ----------------------------------------
# Python
# ----------------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ----------------------------------------
# Virtual Environments
# ----------------------------------------
.venv/
venv/
env/

# ----------------------------------------
# Git
# ----------------------------------------
.git/
.gitignore

# ----------------------------------------
# IDE
# ----------------------------------------
.vscode/
.idea/

# ----------------------------------------
# Jupyter
# ----------------------------------------
.ipynb_checkpoints/

# ----------------------------------------
# Data Science
# ----------------------------------------
notebooks/
screenshots/

# ----------------------------------------
# Logs
# ----------------------------------------
*.log

# ----------------------------------------
# OS
# ----------------------------------------
.DS_Store
Thumbs.db

# ----------------------------------------
# Documentation
# ----------------------------------------
docs/

# ----------------------------------------
# Build
# ----------------------------------------
build/
dist/

# ----------------------------------------
# Cache
# ----------------------------------------
.pytest_cache/
.mypy_cache/

# ----------------------------------------
# Environment
# ----------------------------------------
.env

# ----------------------------------------
# Docker
# ----------------------------------------
docker-compose.override.yml