# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*$py.class

# ========================
# Virtual Enviroments
# ========================

.venv/
venv/
env/
ENV/

# Conda
.conda/
conda-meta

# ========================
# Jupyter
# ========================

ipynb_checkpoints/

# ========================
# VS Code
# ========================
.vscode/

# ========================
# Streamlit
# ======================== 
.streamlit/secrets.toml

# ========================
# Enviroment Variables
# ========================
.env

# ========================
# Logs
# ========================

logs/
*.logs

# =========================
# Models
# =========================
models/*.pkl
models/*.joblib

# Keep folder structure
!models/.gitkeep

# =========================
# Data
# =========================
data/processed/*
!data/processed/.gitkeep

# Raw datasets can become large
# Uncomment if needed in future
# data/raw/*

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Windows
# =========================
Thumbs.db
desktop.ini

